body{
	font-family:"Indie Flower";

}
header{
	padding-top:2%;
}
.head__title{
	padding-bottom:1%;
}

i{
	font-size:35px;
	padding-top:40px;
}
.ion-heart{
	color:red;
}
span{
	font-weight:bold;
}
p{
	font-style:italic;
}
label{
	font-size:25px;
	font-weight:bold;

}